[/] # these configs apply to files under application root ("/")
tools.staticdir.root = "/home/beanryu/aptana_workspace/bootstrapLookup"
tools.staticdir.on = True
tools.staticdir.dir = ""

request.dispatch = cherrypy.dispatch.MethodDispatcher()
tools.sessions.on = True
tools.response_headers.on = True
tools.response_headers.headers = [('Content-Type', 'text/plain')]
tools.staticdir.debug = True

bootstrap.url = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
bootstrap.splitter = ','